@import "materialize";


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


  .btn-devise{
  	width:100%;
  }

 .miniatura{width:100px}

 .img_show{padding-right: 5%;}

 .show_titolo{margin-top:0px; font-size:3.4em;}

 .btn-form{width:100%;}

 .card-image {height: 200px;}

